# Google AI Studio API Key (Obtenez-la sur https://aistudio.google.com/app/apikey)
GOOGLE_GENAI_USE_VERTEXAI=0
GOOGLE_API_KEY=votre_cle_api_ici

# Autres variables d'environnement
# ENVIRONMENT=development
